/*
Es una propiedad de CSS que usamos para afectar como funciona el modelo de cajas predeterminado

*/

body {
    margin: 0;
}

.box {
    width: 30px;
    height: 30px;
    background: red;
    margin: 10px;
}
.box-default {
    box-sizing: content-box;
    padding: 25px;
    border: 10px solid black;
}

.box-new {
    box-sizing: border-box;
    padding: 25px;
    border: 10px solid black;
}