body {
    margin: 0;
    color: #eee;
    font-family: sans-serif;
    background-color: #222;
}

h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px; /*margen hacia abajo de 10px*/
    text-transform: uppercase;
    font-weight: 100;
    font-size: 22px;
    padding: 10px;
}

form {
    background-color: transparent;
    padding: 20px 0;
    max-width: 500px; /*Si la pantalla se agranda de mas su limite maximo es de 500 px agregado a eso tenemos que si se excede para que no pierda su forma esta el margin en auto que se adapta al centro*/
    margin: auto;

    box-shadow: 0 0 55px #fff2;/*para dar sombra*/
    margin-top: 50px; /*margen de arriba del formulario */
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 50px;
}

.form_input {
    padding: 6px 20px;
}

input, textarea, select {
    width: 100%;
    box-sizing: border-box;
    padding:  6px 12px;
    border: none;
    border-left: 3px solid #666; /*borde del input lado izq color plomo #999*/
    box-shadow: 0 0 15px #0001;
    background-color: transparent;
    border-radius: 4px;
    color: #eee; /*Color de letra*/
}

option {
    background-color: #222; /*PARA CONSERVAR LA ESTETICA DEBEMOS MANTENER EL COLOR DE FONDO DEL BODY O FONDO*/
}

textarea {
    min-width: 100%;
    resize: none;
    min-height: 100px;
    font-family: sans-serif;
}

label {
    font-size: 0.9em;
    line-height: 2;
}

/*PARA QUE EL LABEL DE FOCUS AL RECIBIR UN CLICK DEBEMOS USAR EL ID EN HTML*/

.checkbox {
    width: auto;
    height: 10px;
}

fieldset {
    border-radius: 5px;
    border: 1px solid #666;
    padding: 8px 6px 20px 6px; /*para eliminar el espacio */
    margin: 20px; /*cargamos un margen*/
}

legend {
    padding: 0 6px;
    color: #666;
}

a {
    color: #69f;
    text-decoration:  none;
}