body {
    margin: 0;
    color: #eee;
    font-family: sans-serif;
    background-color: #222;
}

form {
    background-color: transparent;
    padding: 10px 20px;
    max-width: 500px; /*Si la pantalla se agranda de mas su limite maximo es de 500 px agregado a eso tenemos que si se excede para que no pierda su forma esta el margin en auto que se adapta al centro*/
    margin: auto;

    box-shadow: 0 0 55px #0007;/*para dar sombra*/
    margin-top: 50px; /*margen de arriba del formulario */
    border-radius: 8px;
    font-size: 16px;
}

input, textarea, select {
    width: 100%;
    box-sizing: border-box;
    padding:  6px 12px;
    border: none;
    border-left: 3px solid #666; /*borde del input lado izq color plomo #999*/
    box-shadow: 0 0 15px #0001;
    background-color: transparent;
    border-radius: 4px;
    color: #eee; /*Color de letra*/
    margin: 6px;
}

fieldset {
    margin: 20px 0;
    border: 2px solid #fff;
    border-radius: 5px;
}

legend {
    padding: 0 6px;
}