body {
    background-color: #0f0;
}

.box {
    width: 640px;
    height: 440px;
    margin: 20px;
    background-color: #000;
    /*
    background-color: #0006; El cuarto parametro del decimal es para controlar la opacidad que tiene
    position: absolute;
    top: 0;

    aplicar todo esto de background-color con opacidad nos sirve para cuando se agrega una venta sobre otra por ejemplo en la ventana de youtube cuando vamos a subir un archivo se despliega otra ventana encima pero la de atras se ve pero de forma opaca ahi puede aplicar
    */

    background-image: url("https://www.vitakraft.com/fileadmin/_processed_/1/3/csm_el_origen_del_perro_3cc21c0da1.webp"); /* nos permite cargar una imagen
    la imagen que visualizamos mediante esto es un div no una imagen - solo que el fondo es una imagen*/
}