body {
    background-color: #0f0;
    margin: 0;
    font-family: sans-serif;
    color: #fff;
}

.box {
    width: 100%;
    height: 100px;
    margin: 20px;
    margin: 0;
    background-color: #000;
    background-image: url("https://www.vitakraft.com/fileadmin/_processed_/1/3/csm_el_origen_del_perro_3cc21c0da1.webp");
    background-color: #6fa;
    background-size: cover;
    background-position: top;
    background-attachment: fixed; /*nos permite poner la imagen por detras y verla mientras hacemos scroll
    
    es un efecto util cuando trabajamos con una pagina web para hacer un efecto de scroll en la pagina web y mostrar algo */
    
}
/*Que la imagen se vaya viendo con el scroll */
.opaco { 
    /*esto genera una capa oscura o lo que definas en el background pero esto se aplica en el div*/
    height: 100%;
    width: 100%;
    background-color: #000a;
}

h2 {
    padding: 20px;
    text-align: center;

    /*dentro el div entra este texto ves que sirve para mostrar mas cosas de fondo */
}