body {
    font-family: cursive;
    background: red;
}

div {
    text-align: center;
    width: 500px;
    height: 500px;
    margin: auto;
    color: black;
}

h1 {
    margin-top: 30px;
    background: black;
    color: white;
    padding: 10px;
    border-radius: 15px;
}

h2 {
    background: grey;
    padding: 10px;
    border-radius: 15px;
}

p {
    
}