/*
PARA DEFINIR UN FONDO LO HACEMOS CON EL 
background y debemos definir un width y height

width y height nos define el ancho y alto de los elementos
*/

div {
    background: blue;
    width: 70%;
    height: 70%;
    text-align: center;
    border: black;
    border-radius: 30px;
}

h1 {
    color: white;
    font-weight: 800;
    text-align: center;
}

input {
    width: 50%;
    border: 10px;
    border-radius: 30px;
}

.enviar {
    background: gray;
}
